.friendList {
  background-color: #fff;
  height: 100%;
  padding: 5px;
  width: 56px;
  margin-bottom: 30px;
}

.item:not(:last-child) {
  margin-bottom: 15px;
}

.name {
  text-align: center;
  /* margin-left: 10px; */
  margin-bottom: 5px;
}

.statusOffline {
  display: block;
  margin: auto;
  background-color: red;
  width: 56px;
  height: 10px;
}

.statusOnline {
  display: block;
  margin: auto;
  background-color: blue;
  width: 56px;
  height: 10px;
}
